

.grid-container {
  display: grid;
  grid-template-areas:
    "servo1 servoCommon status"
    "servo2 toolqueue status";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr  1fr  1fr;
  height: 100vh;
  
}

.box {
  /* border: 1px solid black; */
  padding: 20px;
}

.servo1 {
  grid-area: servo1;
}

.servo2 {
  grid-area: servo2;
}

.status {
  grid-area: status;
}

.servo-common{
  grid-area: servoCommon;
}
.toolqueue{
  grid-area: toolqueue;
}

