

.grid-container {
  display: grid;
  grid-template-areas:
    "servo1 servoCommon status"
    "servo2 settings status";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr  1fr  1fr;
  height: 100vh;
  
}

.box {
  /* border: 1px solid black; */
  padding: 20px;
}

.box1 {
  grid-area: servo1;
}

.box2 {
  grid-area: servo2;
}

.box3 {
  grid-area: status;
}

.box4 {
  grid-area: servoCommon;
}

